body {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    overflow-x: hidden;
    width: 100%;
}

/* Navigation */
.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-brand img {
    height: 150px;
}

.nav-link:hover {
    color: orangered;
}

.hr {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.first-hr {
    background-color: orangered;
    opacity: 100%;
    height: 2px;
    border: none;
    margin: 0 auto;
    padding-bottom: 0;
}

#content{
    margin-top: 2rem;
}

.gallary {
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown-menu{
    border-radius: 0;
    background-color: #000;
    opacity: 80%;
    }
    
    .dropdown-item:hover{
    color:orangered;
    background-color: transparent;
    transition: 1s;
    }
    
    .dropdown-item{
      opacity: 100%;
      color: #fff;
    }
    
    .dropdown-hr{
      background-color: #fff;
      height: 2px;
      opacity: 100%;
    }
    

/* gallery */

.gallery {
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.item {
    display: inline-block;
    text-decoration: none;
    background: #FFF;
    margin: 10px;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(212, 212, 212, 1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(212, 212, 212, 1);
    box-shadow: 2px 2px 2px 0px rgba(212, 212, 212, 1);
    position: relative;
}

.item video {
    width: 360px;
    height: 360px;
}

.item img {
    width: 360px;
    height: 380px;
}

.item .stats {
    font-size: 13px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #555;
}

.item .stats i {
    transition: color 250ms;
    -webkit-transition: color 250ms;
    -moz-transition: color 250ms;
    -o-transition: color 250ms;
}

.item .stats span:hover .fa-heart {
    color: red;
}

.item h2 {
    padding: 10px;
    padding-bottom: 0;
    font-size: 20px;
    color: #333;
}

.item p {
    font-size: 15px;
    padding: 10px;
    padding-bottom: 20px;
    color: silver;
}

.item .description {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    color: #eee;
    height: 260px;
    background: rgba(0, 0, 0, .7);
    width: 0;
    padding: 0;
    overflow: hidden;
    transition: width 500ms;
    -webkit-transition: width 500ms;
    -moz-transition: width 500ms;
    -o-transition: width 500ms;
}


footer {
    color: silver;
    -webkit-box-shadow: 0px -2px 2px 0px rgba(212, 212, 212, 1);
    -moz-box-shadow: 0px -2px 2px 0px rgba(212, 212, 212, 1);
    box-shadow: 0px -2px 2px 0px rgba(212, 212, 212, 1);
    padding: 22px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 11px;
}

footer a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    border-bottom: solid 1px rgba(0, 0, 0, .1);
}

footer a:hover {
    color: orangered;
}


@media screen and (max-width: 991px) {

    .Logo {
        display: none;
    }
    
  .nav-item{
    text-align: left;
  } 
}

